.label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #333; /* Dark gray for better readability */
}

.text-field, .password-field {
    -fx-prompt-text-fill: #999; /* Light gray for prompt text */
    -fx-background-color: #F5F5F5; /* Light background for text fields */
}
.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px; /* Rounded corners for a modern look */
    -fx-background-radius: 5px;
}

.button:hover {
    -fx-background-color: #3C9F40; /* Darker shade on hover */
}

.button-signup {
    -fx-background-color: #f44336;
    -fx-text-fill: white;
}

.button-signup:hover {
    -fx-background-color: #d32f2f;
}
